 <!-- Navigation bar -->
 <nav class="navbar navbar-expand-sm bg-primary navbar-light">
    <!-- Brand/logo -->
    <a class="navbar-brand">
      <img src="logo.jpg" alt="logo" style="width:40px;">
      <a>Copyright 2023 Aaron Ainsworth</a>
    </a>
  </nav>