/* 
style.css
Anmoljeet Kaur
301240126
2023-10-07
*/
html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}