<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to The <%= title %>, Page </p>
      <p></p>
      <p>My Name is Anmoljeet Kaur</p>
      <img></img>
      <p>I am 19 years old and Student at Centennial college enrolled in Software Engineering Technician.</p>
      <p>I love to play video games such as PUBG mobile,GTA,etc., and I am good cook also. </p>
      <p>I am an introvent person. </p>
      <p>I am trying to upscale my coding skills as I want to develop me own game and helpful app on which I am working right now with idea of helping students, staff, visitors to explore colleges information campus by campus. </p>
        <p>I am in my third year of computer programming and have  Basic knowlegde in SQL and unix. Also have learned many programming lanugages such as:</p>
        <ul>
          <li>C#</li>
          <li>Python</li>
          <li>Java</li>
          <li>JavaScript</li>
          <li>ExpressJs</li>
          <li> Also Markup language: HTMl</li>
          <li>CSS</li>
        </ul>
        
        
        <p></p>
        <img src="my.jpg" alt="INSERT A PHOTO OF ME HERE">

      
    </div>
  </div>

<% include partials/footer.ejs %>