<% include partials/header.ejs %>
<div class="container">
  <div class="jumbotron">
    <h1><%= Projects %></h1>
    <p>Welcome to The <%= Porjects %>, Page </p>
    <p></p>
    <h1>This lists the projects I have done this month</h1>
    <br>

   
    
    <h2>This is an Context Flow diagram I made</h2>
    <img src="\ContextFlowDiagram.jpeg"/>
    <p>This is Flow chart Diagram on Campus App</p>
  
    <br>
  
    <h2>This Is an System Sequence Diagram</h2>
    <img src="/systemsequence.jpg"/>
    </video>
    <p>This is UML system Sequence Diagram on Student Feedback on Campus system app.</p>
  </div>
</div>
<% include partials/footer.ejs %>