<% include partials/header.ejs %>
  
  <div class="container">
    <div class="jumbotron">
      <h1><%= title %></h1>
      <p>Welcome to The <%= title %>, Page </p>
      <p> So , I am planning to make a Campus  Help  App for student, professors, visitors and event-organizers Which can help them to find the classrooms, easy access to  grades, event information, campus navigation system etc., I am Still working on idea to improve it.</p>
      <li>C# </li>
      <li>Code Debugging</li>
      <li>Website Building / Maintenance</li>
      <li>Python Scripts</li>
      <li>Java Programming</li>
      <li>Software Fundamentals</li>
      
    </div>
  </div>

<% include partials/footer.ejs %>